<% content_for :title, @project.name %>

<%= render @project %>

<div class="actions-row">
  <% if allowed_to?(:new, Report) %>
    <%= link_to "New report for this project", new_report_path(project_id: @project.id), class: "button" %>
  <% end %>
  <% if allowed_to?(:edit, @project) %>
    <%= link_to "Edit", edit_project_path(@project), class: "button" %>
  <% end %>
  <% if allowed_to?(:destroy, @project) %>
    <%= button_to "Destroy", @project, method: :delete, class: "button--danger",
          data: { turbo_confirm: "Destroy this project?" } %>
  <% end %>
  <%= link_to "Back to projects", projects_path %>
</div>
