<%= form_with(model: pay_run, class: "sheet-form") do |form| %>
  <% if pay_run.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(pay_run.errors.count, "error") %> prohibited this pay run from being saved</h2>
      <ul>
        <% pay_run.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= form.text_field :period %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: :any %>
  </div>

  <div class="field">
    <%= form.submit class: "button--primary" %>
  </div>
<% end %>
