<%= form_with(model: expense_claim, class: "sheet-form") do |form| %>
  <% if expense_claim.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(expense_claim.errors.count, "error") %> prohibited this claim from being saved</h2>
      <ul>
        <% expense_claim.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: :any %>
  </div>

  <div class="field">
    <%= form.submit class: "button--primary" %>
  </div>
<% end %>
