<%= form_with(model: report, class: "sheet-form") do |form| %>
  <% if report.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved</h2>
      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :project_id, "Project" %>
    <%= form.collection_select :project_id, projects, :id, :name %>
  </div>

  <div class="field">
    <%= form.submit class: "button--primary" %>
  </div>
<% end %>
